{% extends "_base.html" %}
{% block container %}
{% load crispy_forms_tags %}
<div class="card bg-light mb-3" style="max-width: 26rem;">
    <div class="card-header">
        <h5 class="card-title">Регистрация нового пользователя</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark btn-block">Отправить</button>
        </form>
        <hr>
        <p></p>Уже есть аккаунт? <a href="{% url 'login' %}">Вернуться</a></p>
    </div>
</div>
{% endblock %}